.model {
	width: 50%;
	margin: 3% auto;
	height: 50%;
	color: white;
	background-color: rgba(16, 32, 46);
	border-radius: 10px;
}

.model__city {
	border-radius: 10px 10px 0 0;
	padding: 1% 3%;
	font-size: 17px;
	color: rgba(196, 196, 196);
	background-color: rgba(23, 46, 66);
}

.model__temperature {
	font-size: 1in;
	font-weight: bold;
	text-align: center;
	margin: 8% 0;
}

.model__temperature__icon {
	font-size: 14px;
}
