.card__background {
	background-color: rgba(225, 225, 225, 0.8);
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.card {
	max-width: 80%;
	margin: 2% auto;
	overflow: hidden;
	box-shadow: 0px 0px 15px rgba(117, 117, 117, 0.7);
	background-color: white;
	border-radius: 10px;
}

.card__column {
	float: left;
	width: 50%;
	text-align: center;
}

.card__separator {
	display: flex;
	align-items: center;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}

.card__separator::before,
.card__separator::after {
	content: "";
	flex: 1;
	border-bottom: 1px solid #000;
	border: 0.5px solid rgba(200, 207, 202, 0.5);
}

.card__separator::before {
	margin-right: 0.2in;
	margin-left: 1.2in;
}

.card__separator::after {
	margin-right: 1.2in;
	margin-left: 0.2in;
}

@media only screen and (max-width: 425px) {
	.card {
		background-color: white;
		margin: 25% auto;
		overflow: hidden;
		box-shadow: 0px 0px 15px rgba(117, 117, 117, 0.7);
		border-radius: 5px;
		opacity: 0.9;
	}

	.card__column {
		float: initial;
		width: auto;
	}

	.card__column--right {
		display: none;
	}

	.card__separator::before {
		margin-right: 0.2in;
		margin-left: 0.2in;
	}

	.card__separator::after {
		margin-right: 0.2in;
		margin-left: 0.2in;
	}

	.card__background {
		background-image: url("https://i.pinimg.com/originals/1c/83/a2/1c83a220629444d73482a2f988e0abef.png");
	}
}
